/* styles.css */
:root {
    --active-color: yellow;
    --inactive-color: white;
}

.squareBrackets {
    position: absolute;
    left:150px;
    top: 10px;

}

.squareBrackets:before {
    content: " ";
    border-left:3px solid #666;
    border-top:3px solid #666;
    border-bottom:3px solid #666;
    padding: 2px;
    position: absolute;
    left:0px;
    height: 15px;

}

.squareBrackets:after
{
    content:" ";
    border-right:3px solid #666;
    border-top:3px solid #666;
    border-bottom:3px solid #666;
    padding: 2px;
    position: absolute;
    left:70px;
    height: 15px;

}

.attributeElement {
    position: relative;
    padding: 2px;
    margin: 5px;
    width: 210px;
}

.attributeElement .attributeName {
    font-weight: bold;
    /*font-size: 30px;*/
    padding: 2px;
    width: 60px;
    height: 30px;
}

.attributeElement .attributeValueBox {
     font-size: 30px;
     padding: 2px;
     width: 55px;
     text-align: left;
     border: 2px solid;
     margin-left: 5px;
     margin-right: 5px;
     position: absolute;
     left:60px;
     top: 0px;
 }

.attributeElement .activeAttributeValueBox {

    background-color: var(--active-color);
}

.attributeElement .inactiveAttributeValueBox {
    width: 47px;
    background-color: var(--inactive-color);
}

.attributeElement .attributeCostBox {
    font-size: 20px;
    border-width: 0px;
    padding: 2px;
    text-align: center;
    position: absolute;
    width: 55px;
}

.attributeElement .activeAttributeCostBox {
    background-color: var(--active-color);
    left:10px;
}

.attributeElement .inactiveAttributeCostBox {
    background-color: var(--inactive-color);
}


.attributeElement .attributeCostBox::-webkit-inner-spin-button,
.attributeElement .attributeCostBox::-webkit-outer-spin-button {
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*margin: 0;*/
}

