/* styles.css */
:root {
    --active-color: yellow;
    --inactive-color: white;
    --line-color: black;
}

.attributeElement {
    border-style:solid;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 145px;
    height: 25px;
    margin: 3px;
    padding: 2px;
}

.attributeElement .attributeName {
    margin-left:3px;
    width: 35px;
}

.attributeElement .attributeValueBox {
    margin-left:3px;
    width:45px;
    border-style:solid;
    border-width: 1px;
    border-color: var(--line-color);
    display: inline-block;
    text-align:center;
}

.attributeElement .activeAttributeValueBox {
    background-color: var(--active-color);
}

.attributeElement .activeAttributeValueBox ::-webkit-inner-spin-button,
.attributeElement .activeAttributeValueBox ::-webkit-outer-spin-button {
    position:relative;
    left: 100px;
}
.attributeElement .inactiveAttributeValueBox {
    background-color: var(--inactive-color);
}

.attributeElement .attributeCostBox {
    text-align:center;
    display: inline-block;
    width:40px;

}

.attributeElement .activeAttributeCostBox {
    background-color: var(--active-color);
    border-style:solid;
    border-width: 0px;

}

.attributeElement .inactiveAttributeCostBox {
    background-color: var(--inactive-color);

}


.attributeElement ::-webkit-inner-spin-button,
.attributeElement ::-webkit-outer-spin-button {
    box-shadow: 0 0 2px green;
    opacity: .8;
}

.squareBrackets:before {
    content: '[';
    color: var(--line-color);
    font-size: 20px;
    text-align: right;
}

.squareBrackets:after
{
    content: ']';
    color: var(--line-color);
    font-size: 20px;
    text-align: left;
}
