:root {
    --line-color: black;
    --odd-color: lightGrey;
    --even-color: white;
}

.skillsPane {
    background-color: white;
    padding:5px;
    width: 275px;
    border-width: 1px;
    border-color: var(--line-color);
    border-style: solid;
}

.skillsPane .skillsList {

}


.skillsPane .skillListItem {

}


.skillListItem:nth-child(even){
    background-color: var(--even-color);
}

.skillListItem:nth-child(odd) {
    background-color: var(--odd-color);
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}