:root {
    --line-color: black;
}

.skillsPane {
    background-color: white;
    padding:5px;
    width: 275px;
    border-width: 1px;
    border-color: var(--line-color);
    border-style: solid;
}


