.attributeElement {
    position: relative;
    padding: 2px;
    margin: 0px;
    width: 210px;
}

.attributeElement .attributeName {
    font-weight: bold;
    font-size: 30px;
    padding: 2px;
}

.attributeElement .attributeValueBox {
    font-size: 30px;
    padding: 2px;
    width: 55px;
    text-align: center;
    border: 2px solid;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    left:70px;
}

.attributeElement .attributeCostBox {
    font-size: 20px;
    border-width: 0px;
    width: 35px;
    padding: 2px;
    text-align: center;
    position: absolute;
    left:150px;
    top: 10px;
}

.squareBrackets {
    position: absolute;
    left:140px;
    top: 10px;

}

.squareBrackets:before {
    content: " ";
    border-left:3px solid #666;
    border-top:3px solid #666;
    border-bottom:3px solid #666;
    padding: 2px;
    position: absolute;
    left:0px;
    height: 15px;

}

.squareBrackets:after
{
    content:" ";
    border-right:3px solid #666;
    border-top:3px solid #666;
    border-bottom:3px solid #666;
    padding: 2px;
    position: absolute;
    left:55px;
    height: 15px;

}

.activeAttributeTextbox {
    background-color: white;
}

.inactiveAttributTextbox {
    background-color: yellow;
}