:root {
    --hover-line-color: gold ;
    --overflow-text-color: gray;
    --border-line-color: black;
    --drop-down-color: lightblue;
}

.searchBox {
    position: relative;

}

.searchBox .searchBoxText {
    background-color: lightblue;
    height: 25px;
    width:200px;
    margin: 3px;
}

.searchBox .searchDropDown {
    position: absolute;
    z-index: 1;
    background-color: white;
    width:220px;
    border-style: groove;
    border-width: 1px;
    background-color: var(--drop-down-color);
}

.searchBox .searchDropDown .searchDropDownLine {
    padding-left:5px;
}

.searchBox .searchDropDown .searchDropDownLine:hover {
    background-color: var(--hover-line-color);
}

.searchBox .searchDropDown .searchDropDownOverflow {
    color:  var(--overflow-text-color);
}

